mlruns/
mlflow.dbmlruns/
mlflow*.db
__pycache__/
*.pyc
mlruns/
mlflow*.db
__pycache__/
*.pyc
predictions/preds_sample_serving.json

ECHO est  activado.
reports/*
!reports/
!reports/benchmark.md
!reports/f1_bench.png

ECHO est  activado.
!reports/
!reports/benchmark.md
!reports/f1_bench.png
.dvc/config.bak
/metrics_tune.json
/metrics.json
/metrics_test.json
/metrics_tune_rf.json
/metrics_rf.json
/metrics_test_rf.json
/metrics_fe.json
/metrics_test_fe.json
/metrics_tune_xgb.json
/metrics_xgb.json


# Dagster runtime
tp_grupal_dagster/.tmp_dagster_home_*/

# Metadata de instalación editable de Python
tp_grupal_dagster/*.egg-info/
