name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: DVC pull (usar secretos de Dagshub)
        env:
          DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          dvc remote modify dagshub url https://$DAGSHUB_USERNAME:$DAGSHUB_TOKEN@dagshub.com/nanucasa/TP_grupal.dvc
          dvc remote default dagshub
          dvc pull
        continue-on-error: true  # si falta algo en el remoto, NO rompe el CI

      - name: Check Python syntax
        run: |
          python -m compileall src tp_grupal_dagster

      - name: Verificar tracking URI de MLflow
        run: |
          python - << "EOF"
          import os, mlflow
          print("MLFLOW_TRACKING_URI (env):", os.getenv("MLFLOW_TRACKING_URI"))
          print("mlflow.get_tracking_uri():", mlflow.get_tracking_uri())
          EOF
